<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="vk.help.base.MasterApplication"
        android:icon="@drawable/ic_launcher_background"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:replace="android:theme"
        tools:targetApi="q">
        <activity
            android:name=".InitialScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.huawei.hms.ml.DEPENDENCY"
            android:value="skeleton" />

        <activity
            android:name="vk.help.imagepicker.features.ImagePickerActivity"
            android:configChanges="orientation|screenSize" />

        <!--        <meta-data-->
        <!--            android:name="com.google.android.geo.API_KEY"-->
        <!--            android:value="AIzaSyAI54HMpcTDytcomEylkqGM1gp9Hurx08A" />-->

    </application>
</manifest>