<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vk.help">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>

        <activity
            android:name=".crop.CropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="imagepicker.features.ImagePickerActivity"
            android:configChanges="orientation|screenSize" />

        <provider
            android:name=".imagepicker.helper.ImagePickerFileProvider"
            android:authorities="${applicationId}.imagepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_picker_provider_paths" />
        </provider>

        <provider
            android:name=".calender.MaterialCalendarViewInitProvider"
            android:authorities="${applicationId}.materialcalender.provider"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
